.reset-password-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; /* Optional: Add a background color */
}

.auth-container {
    background-color: #f3d5ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

.auth-title {
    color: #812093;
    margin-bottom: 20px;
}

.server-message {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffe6e6;
    border: 1px solid #ffb3b3;
    color: #cc0000;
    border-radius: 4px;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.password-requirements {
    text-align: left;
    margin-bottom: 15px;
    color: #555;
}

.password-requirements ul {
    list-style: none;
    padding: 0;
}

.password-requirements li {
    padding: 5px 0;
}

.password-requirements li.valid {
    color: green;
}

.password-requirements li.invalid {
    color: red;
}

.auth-button {
    background: blueviolet;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.auth-button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

